[submodule "provisions/puppet/modules/mysql"]
	path = provisions/puppet/modules/mysql
url=https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "provisions/puppet/modules/phpmyadmin"]
	path = provisions/puppet/modules/phpmyadmin
	url = https://github.com/velaluqa/puppet-phpmyadmin
[submodule "provisions/puppet/modules/composer"]
	path = provisions/puppet/modules/composer
	url = https://github.com/tPl0ch/puppet-composer.git
[submodule "provisions/puppet/modules/git"]
	path = provisions/puppet/modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "provisions/puppet/modules/stdlib"]
	path = provisions/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "provisions/puppet/modules/vcsrepo"]
	path = provisions/puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "provisions/puppet/modules/epel"]
	path = provisions/puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "provisions/puppet/modules/puppi"]
	path = provisions/puppet/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "provisions/puppet/modules/inifile"]
	path = provisions/puppet/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
